# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables
.env
.env.*

# Vercel
.vercel

# Mac/Windows system files
.DS_Store
Thumbs.db

# VSCode
.vscode/
