<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/global.css">
</head>
<body>
    <div class="d-block">
        <div style="border: 0px;" class="card w-100 p-4">
            <h1 class="mb-4 mt-12 position-relative welcome-text-primary fw-semibold">Welcome!</h1>
            <p>Place and receive your order within 20 minutes</p>
            <button class="btn btn-outline-primary">Place your Order</button>
            <div class="banner-1 my-4">
              <div class="d-flex flex-column align-items-center">
              <p class="text-lg fs-3 text-white">Vegetables</p>
            <a href="/pages/Shop.html"><a href="/pages/Shop.html"><button class="btn btn-primary mb-3">Order Now</button></a></a>
            </div>
          </div>
        <div class="banner-3 mb-4">
          <div class="d-flex flex-column align-items-center">
            <p class="text-lg fs-3 text-white">Grocery</p>
          <a href="/pages/Shop.html"><button class="btn btn-primary mb-3">Order Now</button></a>
          </div>
      </div>
      <div class="banner-4 mb-4">
        <div class="d-flex flex-column align-items-center">
          <p class="text-lg fs-3 text-white">Pharmacy</p>
        <a href="/pages/Shop.html"><button class="btn btn-primary mb-3">Order Now</button></a>
        </div>
    </div>
        </div>
    </div>
</body>
</html>